# Ignore everything
*

# But not these files...
!.gitignore

# etc...

# ...even if they are in subdirectories
!*/

# if the files to be tracked are in subdirectories
!Quake_TrenchBroom/id1/maps/testlevel.map
!Quake_TrenchBroom/id1/maps/aetherapocalypse.map
